# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data and model files
data/raw/
data/processed/
*.zip
*.h5
*.keras
*.pt
*.pth
*.pkl

# Generated figures
reports/figures/*.png
reports/figures/*.jpg

# OS files
.DS_Store

# Environment variables
.env
